@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npm {
    margin: 0;
    width: 10%;
}

.form {
    margin: 0;
    width: 75%;
}

.buttons {
    margin: 0;
    width: 15%;
}

.npm-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 2.5em;
}

.form>form {
    margin: 0;
    display: flex;
    justify-content: center;
}

.form>form>input {
    width: 80%;
    background-color: rgba(0, 0, 0, .05);
    border-style: hidden;
}

.form>form>img {
    background-color: rgba(0, 0, 0, .05);
}

.form>form>button {
    background-color: #FB3E44;
    color: white;
    border-style: hidden;
}

.buttons {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.search {
    margin: 0;
    padding: 0;

}

.link-btn {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 4px 12px;
}

#Join {
    border: 1px solid black;
}

#first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
}

#first-section>h1 {
    font-size: 5em;
    margin: 0;
}

#first-section>article {
    width: 35em;
    margin: 2.5em 0 0 0;

    p {
        font-size: 1.25em;
        text-align: center;
    }
}

#first-section>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35em;
    height: 7em;
}

#first-section>div>a {
    text-decoration: none;
    width: 50%;
    height: 2.5em;
    text-align: center;

}

#see-plans {
    line-height: 2.5em;
    background-color: #FB3E44;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    font-size: large;
}

#join-for-free{
    font-weight: 750;
    line-height: 2.5em;
    color: black;
}

#second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

#second-section > img{
    height: 15em;
    width: 15em;
    margin-bottom: 2em;
}

#second-section > h2{
    width: 25em;
    background-color: rgba(255,204,53,.4);
    font-style: italic;
    transform: skew(9deg,0deg);
    text-align: center;
    font-size: xx-large;
}

#second-section > article{
    width: 40em;
    p{  
        font-size: small;
        text-align: center;
    }
}

#third-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
}

#third-section > div{
 /* border: 5px solid red; */
padding: 1em;
height: 15em;
width: 15em;
 img{
    padding: 0 0.25em;
    width: 2.5em;
    height: 2.5em;
}
}
#third-section > div > h3{
    /* border: 5px solid maroon; */
    color: #ED1C24;
}

#third-section > #button-container {
width: 30em;
height: 10em ;
/* background-color: #FB3E44; */
justify-content: center;
align-content: center;
margin-left: 12.5em;  
}
#third-section > #button-container >a{
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    padding: 1em 5em;
    text-decoration: none;
    color: white;
    background-color: black;
}